/* Reset  */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globals */
img{
  max-width:100%;
  display: block;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Site-styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 30rem;
    margin: 3rem 4rem 5rem 4rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    height: 24rem;
    justify-content: flex-end;
  }
  .info h3 {
    margin: 0;
  }
}
header h3 {
  text-transform: uppercase;
}
.info {
  width: 90%;
  text-align: start;
  margin-bottom: 2rem;
}
.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

@media (min-width: 768px) {
  
  .group {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* USERS */
.user {
  position: relative;
  width: 80%;
}
.user h4 {
  font-family: Poppins ;
  font-size: 2.5rem;
}
.texto-vertical {
  font-family: PT Serif;
  font-size: 1.5rem;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
  position: absolute;
  top: 4rem;
  right: -8rem;
}
.user-down {
  padding-top: 5rem;
}
.texto-vertical2 {
  font-family: PT Serif;
  font-size: 1.5rem;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(90deg);
  position: absolute;
  top: 9.2rem;
  right: -8rem;
}
@media (min-width: 768px) {
  .user:nth-child(5) {
    padding-top: 10rem;
  }
  .user:nth-child(5)>.texto-vertical {
   
    top: 14rem;
    right: -8rem;
  }
}

/* footer */

footer {
  text-align: center;
  color: darkgray;
  font-size: 2.5rem;
}
footer span {
  font-weight: 600;
}
